
@{
    ViewBag.Title = "SuccessPurchase";
}


    <h1 style="text-emphasis: circle; text-align:center; text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;">Your purchase was successful</h1>

    <br />
    <h1 style="text-align:center; text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;"> Thanks for buying :)</h1>
<br />
<h1 style="text-align:center; text-shadow: 0 0 3px #00008B, 0 0 5px #0000FF;">Our team has already handles your purchase</h1>

    <h1>logooooooooooooooooo</h1>

