
@{
    ViewBag.Title = "About";
}
<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Digi Shoppe - Bootstrap 3 Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">

    <!-- CSS Files -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="js/ie8-responsive-file-warning.js"></script>
    <![endif]-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/fav-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/fav-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/fav-72.png">
    <link rel="apple-touch-icon-precomposed" href="images/fav-57.png">
    <link rel="shortcut icon" href="images/fav.png">

</head>
<body>
    <!-- Header Wrap Starts -->
   
    <!-- Header Wrap Ends -->
    <!-- Breadcrumb Starts -->
    <div class="breadcrumb-wrap">
        <div class="container">
            <!-- Breadcrumb Starts -->
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About</li>
            </ol>
            <!-- Breadcrumb Ends -->
        </div>
    </div>
    <!-- Breadcrumb Ends -->
    <!-- Main Container Starts -->
    <div class="main-container container">
        <!-- Typography #1 Starts -->
        <div class="row">
            <div class="col-sm-9" >
               <!---->
                <iframe width="760" height="360" src="https://www.youtube.com/embed/VjjmEw9OUAM" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-sm-3" >
                <h2 class="text-uppercase" style="color:cornflowerblue" >R&B Phone stor</h2>
                <p class="text-justify"><b>
    R&B Phone stor company was established in 2010 when the iPhone began to enter the Israeli labor market.
    The company was founded by a salesperson and a broad technical experience in the cellular field.
    R&B Phone stor company is a company that provides a range of customer services such as laboratory services to all mobile devices, mobile devices marketing and a wide range of accessories for cellular service.
    R&B Phone stor always work for the customer and for his own good.  <br />
                                            Business hours in branches:
                                            Sunday-Thursday 9: 30-22: 00
                                            And holiday eves 9: 00-15: 00 Saturday half an hour found Saturday -23: 00
   </b></p>
            </div>
        </div>
        <!-- Typography #1 Ends -->
        <hr />
        <!-- Typography #2 Starts -->
        <div class="row">
            <div class="col-sm-6" >
                <h3 class="text-uppercase" style="color:cornflowerblue"> Cancellation procedure (according to the Consumer Protection Act)</h3>
                <p class="text-justify">
                <br />
                    Customer service branches.
                    Cancellation and return of the product will be made within 14 days after receiving the product, so long as not used in the product.<br />
                 According to the Consumer Protection Act is not considered opening the package when in use but connecting a charger / power <br />
                considered use and thereby canceling the transaction is not possible.<br />

                    When canceling a transaction not due to a defect or failure to meet delivery <br />
                schedules money sitting buyer within 14 days and this offset by 5% of the product or NIS 100 <br />
                product lineup under whichever cheap, plus shipping fees will be offset even in the case of registered mail will<br />
                  be reduced to 30 shekels.<br />

                    The store may offset the amount of credit the clearing fee credit card if paid by credit card
                <br /> (3 percent including VAT)

                    Company "play store" have the right to sue the customer for impairment product.<br />

                    The company will provide customers an enterprise chargeback provided credit card company.                </p>
            </div>
            <div class="col-sm-6" >
                <h3 class="text-uppercase" style="color:cornflowerblue">Official importer responsibility</h3>
                <br />
                <p class="text-justify">
                    Proclaimed and agreed that the warranty card is only valid signature by the two parties <br />
                (buyer and seller or his representative).<br />
                    Warranty card is valid only together with the invoice and invoice<br />
                 details are the same as the details of this certificate.<br />
                    The right to opt for repair over replacement device is reserved to "play store" only.<br />
                    Warranty repair will be handled only used with the original parts.<br />
                    In the case of device failure under warranty, we undertake to repair the device within 14 business days <br />
                (intermediate, Fridays and holiday eves nothing now work), subject to stock spare parts available.<br />

                    During the warranty period if there is a fault on the device and is delivered <br />
                to the amendment we undertake to provide a replacement in exchange for a mobile device.<br />
                    Battery warranty is 6 months from the date of delivery to the customer.<br />
                    Responsibility charger, headphones and sync cable when supplied with the mobile device are for a period of one month
                <br /> (30 days) only so long as the accessory is not torn, detached or damaged due to the use unlikely.<br />
                    You can not transfer this Warranty to a third party and / or another person.               </p>
            </div>
        </div>
        <!-- Typography #2 Ends -->
        <hr />
        <!-- Typography #3 Starts -->
        <div class="row">
            <div class="col-sm-4">
                <h3 class="text-uppercase" style="color:cornflowerblue" >Amendments which are not included under warranty and will be charged:</h3>
                <p class="text-justify">
                <br />rranty, the duty of the buyer to check the charging socket and integrity upon purchase.
                    Headphone jack is not under warranty, the duty of the buyer to check the charging socket and integrity upon purchase.
                    Touch screen is not warranted.
                    LCD screen is not under warranty.
                    Access code locked device.
                    Device does not recognize \ shows no IMEI serial.
                    Peeling, beaten, defects in color and so on.
                    Component burnt cuts, heats up.
                    Force majeure: earthquakes, surges, flood, fire, exposure to heat and so on.
                    Platt cable (type devices: slide, mouthpiece, oyster) and component replacement it is caused by the use of standard and reasonable and normal wear and tear.                </p>
            </div>
            <div class="col-sm-4">
                <h3 class="text-uppercase" style="color:cornflowerblue">Cases where the warranty is canceled and any amendments will apply:</h3>
                <p class="text-justify">
                <br />
                    Opening the device by a technician who "play store" or authorized representative, provided the approval in writing.
                    Signs of falling.
                    Crushing.
                    Device does not recognize \ shows no IMEI serial.
                    Physical damage caused by the use unlikely.
                    Burning software independently.
                    Water damage / corrosion
                    Damage dust / dirt / mud, etc.
                    Using spare parts and / or non-original accessories.                </p>
            </div>
            <div class="col-sm-4">
                <h3 class="text-uppercase" style="color:cornflowerblue">clarification</h3>
                <p class="text-justify">
                    <br />
                    Play Store will not be responsible or liable for any direct, indirect, special or consequential damages caused to the user or a third party due to a fault on the cause of action that will be - including loss of income and / or prevention of profit incurred for any reason.
                    In the case of exercising the right of warranty Backup content is the client.
                    In the case of delivery of an amendment in the laboratory under the responsibility or the responsibility that the store does not responsible for the loss / damage to the SIM card, memory card and accessories.
                    Responsibility for APPLE products internationally is done directly with the company's branches APPLE STORE USA.                </p>
            </div>
        </div>
        <!-- Typography #3 Ends -->

    </div>
    <!-- Main Container Ends -->
    <!-- Footer Section Starts -->

    <!-- Footer Section Ends -->
    <!-- JavaScript Files -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>