
@{
    ViewBag.Title = "Branches";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <h2  style="color:cornflowerblue" >Branches</h2>
    @*<hr />

        
    </ul>*@
   <h4>
       <br />
       Our branch locations are provided to customers when collecting purchase and repairs instruments<br /> in a cozy,
        air-conditioned and ample parking lot
</h4>
    <br />
    <br />
    <table class="table">
        <tr>
         
            <th  style="color:cornflowerblue" >
                City
            </th>
            <th  style="color:cornflowerblue" >
                Street 
            </th>
            <th  style="color:cornflowerblue" >
               NumberHous
            </th>
            <th  style="color:cornflowerblue" >
             Phone
            </th>
            <th></th>
        </tr>

       
            <tr>
                <td>
                    Bney-Braq
                </td>
                <td>
                  ashi
                </td>
                <td>
                    14
                </td>
                <td>
                052-712-7125
                </td>
             
            
            </tr>

        <tr>
            <td>
                Jerusalem 
            </td>
            <td>
                shtraus
            </td>
            <td>
                12
            </td>
            <td>
                 054-3123902    
                    </td>

        </tr>
        <tr>
            <td>
                Herzelya   :-)
            </td>
            <td>
                rivki job
            </td>
            <td>
                machlef hasira
            </td>
            <td>
                1
            </td>

        </tr>

    </table>

</body>
</html>
