
@{
    ViewBag.Title = "Deals";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <style >
        
             h1 {
       
            -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
            transition: width 2s, height 4s;
        }

            h1:hover {
                /*width: 300px;*/
                height: 300px;
            }
    </style>
</head>
<body>


    <h1 id ="a" style="color:crimson;    border-radius: 25px;
    background: #6495ED	;
    padding: 20px">20% DISCOUNT FOR ALL THE IPHONES MODEL </h1>
    <br />
    <h1 style="color:red;   border-radius: 25px;
    background: #6495ED	;
    padding: 20px">99% DISCOUNT FOR ALL THE WINDOWSFHONES MODEL </h1>
    <br />
    <h1 style="color:blue;   border-radius: 25px;
    background: #6495ED	;
    padding: 20px">BUY NOW!!! </h1>

</body>
</html>
